@model StudentConnect.Data.AboutContent
@{
    ViewBag.Title = "About SD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section setActiveBtn { 
    <script type="text/javascript">
        $("#aboutlink").addClass("ui-btn-active");        
    </script>
}

<div data-role="page" id="about" >

    @{ Html.RenderPartial("_Header", "About SD"); }

    <div data-role="content" data-theme="b">	
        <img src="https://sdshare.blob.core.windows.net/res/SomethingDigital320x103.png" style="display: block; margin-left: auto; margin-right: auto;" />            
        <p >
            @Model.AboutUsHtml
        </p>
        <div >
            <iframe width="400" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=9+E+38th+St,+New+York,+NY&amp;aq=&amp;sll=40.697488,-73.979681&amp;sspn=0.565356,1.352692&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=9+E+38th+St,+New+York,+10016&amp;ll=40.750719,-73.981633&amp;spn=0.004413,0.010568&amp;z=16&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=9+E+38th+St,+New+York,+NY&amp;aq=&amp;sll=40.697488,-73.979681&amp;sspn=0.565356,1.352692&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=9+E+38th+St,+New+York,+10016&amp;ll=40.750719,-73.981633&amp;spn=0.004413,0.010568&amp;z=15" style="color:#0000FF;text-align:center" target="_blank">View Larger Map</a></small>
        </div>
        <p>
            Find out more about SD and our team on our website, <a href="http://www.somethingdigital.com/" target="_blank">somethingdigital.com</a>
        </p>
    </div>

    @{ Html.RenderPartial("_Footer"); }

</div>
