@{
    ViewBag.Title = "API";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-role="page" id="api"  >

    @{ Html.RenderPartial("_Header", "Application Programmer Interface (API)"); }

    <div data-role="content" data-theme="b">	
        <p>We are working on our public API.  Please check back soon... </p>		

        <p>- SD Team</p>
    </div>

    @{ Html.RenderPartial(@"_Footer"); }

</div>



