<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="StudentConnect.Utils.DevTools.ShowLogoutLink" value="false"/>
    <add key="AzureStorage" value="DefaultEndpointsProtocol=https;AccountName=sdshare;AccountKey=QRdIZV9Dxq2UuqPF7lFEUE3Pw0c7hzi9Y2ml2zHGA8QA+tWpD9Iff+iMLcxGcPixm/8nzOh+Eglk3AQeA9hWhg=="/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" defaultUrl="~/" />
    </authentication>
    <membership defaultProvider="Default" userIsOnlineTimeWindow="5" >
      <providers>
        <add name="Default" type="StudentConnect.Security.MembershipProvider, StudentConnect" />
      </providers>
    </membership>
    <roleManager defaultProvider="Default" enabled="true" >
      <providers>
        <add name="Default" type="StudentConnect.Security.RoleProvider, StudentConnect"/>
      </providers>
    </roleManager>
    <authorization>
      <allow users="*"/>
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="glenn.ferrie@gmail.com">
        <network host="smtp.sendgrid.net" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="StudentConnect.Core" />
    <namespace name="StudentConnect.Data" />
    <namespace name="StudentConnect.Azure" />
    <container>
      <register type="IContentRepository" mapTo="ContentRepository">
        <lifetime type="singleton" />
      </register>
      <register type="StorageHelper" mapTo="StorageHelper">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>
</configuration>