<div data-role="footer">
    <div data-role="navbar">
        <ul>
            <li><a href="#home" data-role="button" data-icon="home">Home</a></li>
            <li><a href="#positions" data-role="button" data-icon="page2">Positions</a></li>
            <li><a href="#people" data-role="button" data-icon="grid">People</a></li>
            <li><a href="#about" data-role="button" data-icon="info" >About SD</a></li>
        </ul>
    </div>
</div>
