<div data-role="header" data-theme="b" >
    <h1>@Model</h1>
    <a href="#aboutapp" data-rel="dialog" data-transition="pop" data-icon="info" class="ui-btn-right" data-iconpos="notext">Options</a>
</div><!-- /header -->
