@{ ViewBag.Title = Model; }
<div data-role="header" data-theme="b" >
    <h1>@Model</h1>
    <a href="#aboutapp" data-rel="dialog" data-transition="pop" data-icon="info" class="ui-btn-right" data-iconpos="notext">Options</a>
    <div data-role="navbar"  data-theme="b">
        <ul>
            <li><a href="#home" data-role="button" data-icon="home">Contact Info</a></li>
            <li><a href="#positions" data-role="button" data-icon="check">Positions</a></li>
            <li><a href="#people" data-role="button" data-icon="grid">People</a></li>
            <li><a href="#about" data-role="button" data-icon="info" >About SD</a></li>
        </ul>
    </div>
</div><!-- /header -->
