@using StudentConnect.Utils
@{ ViewBag.Title = Model; }
<div data-role="header" data-theme="b" data-position="fixed" >
    <img src="@Url.Content("~/_images/icon29x29.png")" style="position:absolute; top: 6px; left: 6px;" />
    <h1>@Model</h1>
    @if (DevTools.ShowLogoutLink())
    { 
        <a href="@Url.Action("Logout", "Account")" rel="external" data-icon="back" class="ui-btn-right" style="margin-right:32px;" >Logout</a>
    }
    <a href="#aboutapp" data-rel="dialog" data-transition="pop" data-icon="info" class="ui-btn-right" data-iconpos="notext">About</a>
</div>
