@{
    ViewBag.Title = "Positions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Custom List Styles //-->
<style type="text/css">
    li { margin-bottom: 24px; list-style-type: none;  }
    ul { margin-left: -40px; display: block; }
</style>

@section setActiveBtn { 
    <script type="text/javascript">
        $("#poslink").addClass("ui-btn-active");        
    </script>
}

<div data-role="page" id="positions"  >

    @{ Html.RenderPartial("_Header", "Positions"); }

    <div data-role="content" data-theme="b" style="padding: 10px;">	

        <p>These are the positions that we are hiring for: </p>

        <ul>
            @foreach (StudentConnect.Data.Position p in Model)
            { 
                <li style="margin-bottom: 8px;">
                    <div><strong>@p.Title</strong></div>                
                    <div>@p.Description</div>
                </li>
            }   
        </ul>     
    </div>

    @{ Html.RenderPartial(@"_Footer"); }

</div>



