@model StudentConnect.Data.SchoolData[]
@{
    ViewBag.Title = "Management Console";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div data-role="page" id="Admin"  >
    @{ Html.RenderPartial("_HeaderNoNav", "Management Console"); }
    
    <div data-role="content">
        Update Content for the following active schools:

        <ul>
        @foreach (var s in Model)
        { 
            <li>@Html.ActionLink(s.Alias, "School", new { id = s.Alias }, new { rel = "external" })</li>
        }
        </ul>

        Update default content @Html.ActionLink("here", "School", new { id = "_Default" }, new { rel = "external" })
    </div>

    @{ Html.RenderPartial(@"_Footer"); }
</div>


