@{
    ViewBag.Title = "School";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div data-role="page" id="Admin"  >
    @{ Html.RenderPartial("_HeaderNoNav", "School Info"); }
    
    <div data-role="content">
        
    </div>

    @{ Html.RenderPartial(@"_Footer"); }
</div>



