@{
    ViewBag.Title = "UnknownSchool";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div data-role="page" id="Admin"  >
    @{ Html.RenderPartial("_HeaderNoNav", "Unknown School"); }
    
    <div data-role="content">
        @Html.ActionLink("Back", "Index", null, new { rel="external" })

        <h4>Oops! Unknown School!</h4>

        Please check Id: <strong>@Model.BogusID</strong>
    </div>

    @{ Html.RenderPartial(@"_Footer"); }
</div>

