@{
    ViewBag.Title = "People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-role="page" id="people"  data-title="People | StudentConnect" >

    @{ Html.RenderPartial("_Header", "People"); }
    
    <div data-role="content" data-theme="b">	
        @foreach (StudentConnect.Data.Person p in Model)
        { 
            <div>
                <span>@p.DisplayOrder</span>
                &nbsp;
                <span>@p.Name</span>
                &nbsp;
                <span>@p.Title</span>
            </div>
        }        
    </div>

    @{ Html.RenderPartial("_Footer"); }

</div>
