@{
    ViewBag.Title = "People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Custom List Styles //-->
<style type="text/css">
    li { margin-bottom: 24px; list-style-type: none;  }
    ul { margin-left: -40px; display: block; }
</style>

@section setActiveBtn { 
    <script type="text/javascript">
        $("#peoplelink").addClass("ui-btn-active");        
    </script>
}

<div data-role="page" id="people"  data-title="People | StudentConnect" >

    @{ Html.RenderPartial("_Header", "People"); }
    
    <div data-role="content" data-theme="b">	       
        <p>Here are some of the people you'll meet at the career fair: </p>

        <ul>
            @foreach (StudentConnect.Data.Person p in Model)
            { 
                <li  >
                    <div>
                        <strong>@p.Name // @p.Title</strong> <br /> 
                        @p.MoreInfo
                    </div>
                </li>
            }   
        </ul>     
    </div>

    @{ Html.RenderPartial("_Footer"); }

</div>
