@{
    ViewBag.Title = "People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Custom List Styles //-->
<style type="text/css">
    li { margin-bottom: 24px; list-style-type: none;  }
    ul { margin-left: -40px; display: block; }
</style>

<div data-role="page" id="people"  data-title="People | StudentConnect" >

    @{ Html.RenderPartial("_Header", "People"); }
    
    <div data-role="content" data-theme="b">	
        <h4>SD People</h4>
        
        <p>Here are some of the people you'll meet at the career fair: </p>

        <ul>
            @foreach (StudentConnect.Data.Person p in Model)
            { 
                <li  >
                    <div>
                        <img src="@p.ImageUrl" height="48" width="48" border="0" align="left" style="margin-right: 8px;" /> 
                        <strong>@p.Name // @p.Title</strong> <br /> 
                        @p.MoreInfo
                    </div>
                </li>
            }   
        </ul>     
    </div>

    @{ Html.RenderPartial("_Footer"); }

</div>
