@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section noAjaxJs { 
    <script type="text/javascript">
        $.mobile.ajaxEnabled = false;
        // makes form posts work without ajax, preserves proper MVC urls
    </script>
}
<div data-role="page">
    @{ Html.RenderPartial("_HeaderNoNav", "Login"); }
	@using (Html.BeginForm("Login", "Account", FormMethod.Post))
 {
        <div data-role="content" data-theme="b">	
            <img src="https://sdshare.blob.core.windows.net/res/SomethingDigital320x103.png" style="display: block; margin-left: auto; margin-right: auto;" />            
            <div data-role="fieldcontain">
                <label for="passcode">Passcode:</label>
                <input type="password" name="passcode" id="passcode" value="" placeholder="Enter your passcode"  />                
            </div>
            <div class="errormessage">@ViewBag.AuthError</div>
            <input type="submit" value="Login" name="login" id="login" />
            <input type="hidden" name="returnUrl" id="returnUrl" value="@Request.QueryString["ReturnUrl"]" />
	    </div>  
     }
    @{ Html.RenderPartial("_Footer"); }
</div>
