@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-role="page">
    @{ Html.RenderPartial("_HeaderNoNav", "Login"); }

	@using (Html.BeginForm("Login", "Account", FormMethod.Post))
     {
        <div data-role="content">	
            <div data-role="fieldcontain">
                <label for="name">Passcode:</label>
                <input type="text" name="passcode" id="passcode" value="" placeholder="Enter your passcode"  />
            </div>
	    </div>   
     }

    @{ Html.RenderPartial("_Footer"); }
</div>
