@{
	ViewBag.Title = "StudentConnect";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-role="page" id="home" >

	@{ Html.RenderPartial("_Header", "Welcome"); }

	<div data-role="content" data-theme="b" >	
		<p>Welcome to StudentConnect.  We'd like to ask you for some information. Thanks!</p>
	</div>

	@{ Html.RenderPartial(@"_Footer"); }

</div><!-- /page -->

<div data-role="page" id="positions" >

	@{ Html.RenderPartial("_Header", "Positions"); }

	<div data-role="content" data-theme="b">	
		<p>Here are the positions that we are looking to fill.</p>		
	</div>

	@{ Html.RenderPartial(@"_Footer"); }

</div><!-- /page -->

<div data-role="page" id="people">

	@{ Html.RenderPartial("_Header", "People"); }
	
	<div data-role="content" data-theme="b">	
		<p>Herer are the people you might meet at the career fair!</p>
	</div>

	@{ Html.RenderPartial("_Footer"); }

</div><!-- /page -->

<div data-role="page" id="about" >

	@{ Html.RenderPartial("_Header", "About SD"); }

	<div data-role="content" data-theme="b">	
		<p>
			SD is a cool place to work! Get here soon!

			<a href="http://www.somethingdigital.com" target="_blank" title="Something Digital">Our Website</a>
		</p>
	</div>

	@{ Html.RenderPartial("_Footer"); }

</div><!-- /page -->

<div data-role="page" id="aboutapp">
	<div data-role="header" data-theme="b">
		<h1>Student Connect</h1>
	</div><!-- /header -->

	<div data-role="content" data-theme="b">	
		<h2>About this application</h2>
		<p>
			Student Connect is a concept project built by the Something Digital (SD) dev team.  
		</p>
        <p>
            We wanted to build the same prototype in iOS, Android, and HTML5 and use it as a platform to reach out to students and graduates at career fairs.  
        </p>
        <p>
            Source code (for services and HTML5/MVC3 app (others comming) is free here: http://github.com/glennferrie/StudentConnect
        </p>
	</div><!-- /content -->
	
	<div data-role="footer"  data-theme="b">
		<h4>Something Digital <br />
        Copyright &copy; @DateTime.Now.Year.ToString()</h4>
	</div><!-- /footer -->
</div>